.header {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.1px;
}


.header__container {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;


}

.header__wraper {
    background-color: #1524ABA6;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;

}

.header__logo {
    margin: 0 auto;
    width: 128px;
    height: 50px;
    color: #F4F3FF;
    margin-left: 0%;

}

.header__navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.header__link {
    text-decoration: none;
    color: #F4F3FF;
    margin-left: 30px;
}

.header__link:hover {
    color: #0909da;
    transition: 1s;
}

.header__name {
    display: block;
    margin-left: 450px;
    color: #F4F3FF;
    margin-top: 50px;
}

.header__description {
    display: block;
    margin-left: 450px;
    color: #F4F3FF;
}

.header__portfolio {
    color: #F4F3FF;
    text-decoration: none;
    margin: 0 auto;
    margin-left: 1000px;

}

.header__arrow {
    width: 5px;
    height: 65px;
    background-color: #f9f7f7;
    margin-left: 1050px;
    margin-top: 20px;
    position: relative;

    margin-bottom: 10px;


}

.header__arrow::before {
    width: 5px;
    height: 25px;
    background-color: #f9f7f7;
    transform: rotate(315deg);
    position: absolute;
    content: "";
    bottom: 0;
    right: 10px;
}

.header__arrow::after {
    width: 5px;
    height: 25px;
    background-color: #f9f7f7;
    transform: rotate(-315deg);
    position: absolute;
    content: "";
    bottom: 0;
    left: 10px;

}

.main__block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.main__image {
    width: 50%;
    border-radius: 10px;
}

.tajam__image {
    height: 497px;
    width: 392px;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 40px;
}

.main__project {
    width: 50%;
}

.main__title {
    margin: 0 auto;
    color: #888787;
    margin-left: 60px;
    justify-content: center;
    margin-top: 40px;
}

.main__description {
    margin: 0 auto;
    margin-top: 70px;
    color: #888787;
    font-size: 25px;
    margin-right: 30px;
}

.main__button {
    width: 400px;
    height: 84px;
    border-radius: 80px;
    border-color: #FF0642;
    background-color: #ffffff;
    color: #FF0642;
    margin: 0 auto;
    margin-top: 40px;
}

.list__block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    background: url("./Rectangle\ 6.png");
}

.list__image {
    height: 497px;
    width: 392px;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 40px;
}

.list__project {
    width: 60%;
}

.list__title {
    margin: 0 auto;
    color: #FFFFFF;
    margin-left: 60px;
}

.list__description {
    margin: 0 auto;
    margin-top: 70px;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}

.list__button {
    width: 260px;
    height: 64px;
    border-radius: 80px;
    border-color: #FF0642;
    background-color: #ffffff;
    color: #FF0642;
    margin: 0 auto;
    margin-top: 40px;
    background: url(./Rectangle\ 6.png);
    margin: 0 auto;
}

.project {}

.project__title {
    text-align: center;
    color: #797676;

}

.project__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.project__wraper {
    width: 30%;
    margin: 0 auto;
    background-color: #CECECE;
    margin-left: 5px;
    border-radius: 10px;
}

.project__caption {
    text-align: center;
    color: #000000;
}

.project__balance {
    margin-left: 10px;
}

.project__value {
    margin-left: 10px;
}

.project__introductory {
    display: flex;
    justify-content: space-around;
}

.expense__block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.project__block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 7px;
    color: #ffffff;
}

.income__block {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.red__block {
    width: 148px;
    height: 35px;
    background-color: #FF0642;
    border-radius: 10px;
    margin-top: 10px;
}

.green__block {
    width: 148px;
    height: 35px;
    background-color: #2AC14B;
    border-radius: 10px;
    margin-top: 10px;
}

.project__input {
    display: block;
    margin: 0 auto;

}

.name__input {
    margin: 0 auto;
    background-color: #242424;
    border-radius: 80px;
    border: none;
    width: 120px;
    height: 25px;
    color: #FFFFFF;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    margin-left: 10px;
}

.number__input {
    margin: 0 auto;
    background-color: #242424;
    border-radius: 80px;
    border: none;
    width: 120px;
    height: 25px;
    color: #FFFFFF;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    margin-left: 10px;
}

.add__button {
    margin: 0 auto;
    background-color: #242424;
    border-radius: 80px;
    border: none;
    width: 120px;
    height: 25px;
    color: #FFFFFF;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    margin-left: 10px;
}

.middle__project {
    width: 30%;
    margin: 0 auto;
    background-color: #CECECE;
    margin-left: 0px;
}

.project__line {
    width: 90%;
    height: 40px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10px;
}

.middle__project {
    overflow-y: auto;
    height: 450px;
    border-radius: 10px;
}

.right__project {
    width: 30%;
    margin: 0 auto;

}

.project__descript {
    font-size: 19px;
}

.footer {
    background: url(./Rectangle\ 6.png);
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;

}

.footer__left {
    width: 40%;
    margin: 0 auto;
    margin-left: 10%;
    display: block;

}

.footer__input {
    height: 50px;
    width: 240px;
    border-radius: 50px;
    padding-left: 20px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}

.mail__input {
    height: 50px;
    width: 240px;
    border-radius: 50px;
    padding-left: 20px;
    border: none;
    margin: 0 auto;
    margin-top: 50px;
}

.footer__button {
    height: 50px;
    width: 240px;
    border-radius: 50px;
    padding-left: 20px;
    border: none;
    margin: 0 auto;
    margin-top: 70px;
}

.footer__right {
    width: 40%;
    margin: 0 auto;
    margin-right: 10%;
}

.footer__image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;

}